body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.opdracht-1-header {
    display: flex;
    flex-direction: row;
    flex-basis: 15vh;
    flex-grow: 0;
    flex-shrink: 0;
}

.opdracht-1-main-row {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    border: 5px dashed red;
    flex-grow: 1;
    flex-shrink: 0;
}

.opdracht-1-main1 {
    flex-direction: column;
    flex-basis: 900px;
    flex-grow: 2;
    flex-shrink: 0;
}

.opdracht-1-main2 {
    flex-direction: column;
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 1;
    order: 3;
}

.opdracht-1-main3 {
    flex-direction: column;
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 1;
    order: 2;
}


.opdracht-1-footer {
    display: flex;
    flex-direction: row;
    flex-basis: 15vh;
    flex-grow: 0;
    flex-shrink: 0;
}